@import "tailwindcss";
@plugin '@tailwindcss/typography';

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

#sidebar {
  position: sticky;
  min-width: 16%;
  margin: 2rem;
}
