@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
}

#sidebar {
  position: sticky;
  min-width: 16%;
  margin: 2rem;
}
