---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "标签索引";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-xl font-semibold">所有的标签</h1>
    <div class="tags flex flex-wrap m-5">
        {
            tags.map((tag) => (
                <p class="tag p-2 m-1 rounded-lg bg-sky-400/20 hover:bg-sky-700/35">
                    <a class="" href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>