---
---

<footer>
  <p>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> 协议</p>
  <p>本博客由Astro构建</p>
  <p>©2025 FlyLoongZ </p>
</footer>

<style>
  footer {
    display: block;
    text-align: center;
  }

  footer a {
    color: black;
  }
</style>

