---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div id="main">
      <div id="sidebar">
        <SideBar />
      </div>
      <div id="post-page">
        <slot><p>test</p></slot>
      </div>
    </div>
    <Footer />
  </body>
</html>
