---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import favicon from "../images/favicon.png";
const { pageTitle } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="main flex justify-center pt-18">
      <div class="post-page p-3 text-wrap overflow-hidden">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
